<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Marketing development Company| Bluelook| India</title>
    <meta
      name="description"
      content="Digital marketing is a subset of marketing that makes use of the internet and online-based digital technology. Bluelook Provides the best digital marketing service in Bangalore."
    />
    <meta
      name="keywords"
      content="Bluelooktech,Bluelook, Digital marketing company, digital marketing agency, best digital marketing company in Bangalore, Digital marketing agency in Bangalore, digital marketing services in bangalore, online marketing, Internet marketing in Bengaluru, SEO digital marketing, digital marketing company in bangalore, company for digital marketing, digital marketing service"
    />

    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font/font.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-210344120-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-210344120-1");
    </script>
  </head>

  <body>
    <!-- header start -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top"
    >
      <div class="container-fluid bd-highlight mb-3">
        <a class="navbar-brand me-auto p-2 bd-highlight" href="/"
          ><img src="assets/img/logo/bluelook_logo_for_web.png" alt="Bluelook"
        /></a>

        <button
          class="navbar-toggler p-2 bd-highlight"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/bluelook/about">About</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/process">Process</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/testimonial"
                    >Testimonials</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/life-at-bluelook"
                    >Life @ Bluelook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/careers">Careers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/engagement-model"
                    >Engagement Model</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/services"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Services
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Product Development</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/saas-application-development"
                            class="dropdown-item"
                            >SaaSCommerce</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/serverless-development"
                            class="dropdown-item"
                            >Serverless Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/MVP-development"
                            class="dropdown-item"
                            >MVP Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/eCommerce-development"
                            class="dropdown-item"
                            >eDevelopment</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Mobile Apps</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/flutter-development"
                            class="dropdown-item"
                            >Flutter</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Intelligent Automation
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ai-development"
                            class="dropdown-item"
                            >AI</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IOT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/rpa-development"
                            class="dropdown-item"
                            >RPA</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/chatbot-development"
                            class="dropdown-item"
                            >Chatbot Development</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/services/Mobile-App-development"
                            >Mobile App Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/web-development"
                            class="dropdown-item"
                            >Web Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IoT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/ui-development"
                            class="dropdown-item"
                            >User Experience Design</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-marketing"
                            class="dropdown-item"
                            >Digital Marketing</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/staff-augmentation"
                            class="dropdown-item"
                            >Staff Augmentation</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/devops-consulting-service"
                            class="dropdown-item"
                            >DevOps Consulting Services</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-transformation"
                            class="dropdown-item"
                            >Digital Transformation</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/technologies"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Hire Developers
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Backend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/laravel-development"
                            class="dropdown-item"
                            >Laravel PHP</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/nodeJS-development"
                            class="dropdown-item"
                            >Node js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/java-spring-foot-development"
                            class="dropdown-item"
                            >Java spring boot</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/asb-development"
                            class="dropdown-item"
                            >ASP.NET</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Frontend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/angular-development"
                            class="dropdown-item"
                            >Angular.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/vue-development"
                            class="dropdown-item"
                            >Vue.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        UI/UX Designing Tools
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item">Adobe Photoshop</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe Illustrator</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe XD</a>
                        </li>
                        <li><a class="dropdown-item">Figma</a></li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <img
                        class="nav-img"
                        src="assets/img/tech.webp"
                        alt="Tech"
                      />
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Industries
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="/bluelook/industries/health-care"
                    >Health Care</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/our-products"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Our Products</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/blogs"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Blogs</a
              >
            </li>
          </ul>
          <div class="flot-end">
            <a href="https://twitter.com/bluelook_tech"
              ><i class="fa fa-twitter pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.instagram.com/bluelooktech_bangalore/"
              ><i class="fa fa-instagram pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.facebook.com/bluelooktech.2018/"
              ><i class="fa fa-facebook pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
              ><i
                class="fa fa-youtube-play pe-3 nav-icon"
                aria-hidden="true"
              ></i
            ></a>
            <a
              href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
              ><i class="fa fa-linkedin pe-3 nav-icon" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <form class="d-flex p-2 bd-highlight">
          <button class="btn btn btn-primary me-2" type="button">
            <a href="#contact" class="text-white">Contact</a>
          </button>
        </form>
      </div>
    </nav>
    <!-- header end -->

    <!-- Hero Banner Section -->
    <section
      class="hero-banner hero-banner-dmarketing bg-primary-dmarketing py-5"
    >
      <div class="container">
        <div class="row row align-items-center">
          <div class="col-lg-5 offset-lg-1 order-lg-1">
            <img
              src="assets/img/banner/asp.net.webp"
              class="img-fluid"
              data-aos="fade-up"
              data-aos-duration="8000"
              alt="ASP.Net Development"
              title="ASB.NET Development Company in Bangalore"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="mt-3 text-white">Bangalore Digital Marketing Company</h1>
            <p class="lead text-secondary my-5 text-white">
              We are the leading digital marketing agency in Bangalore,
              assisting enterprises, small and medium-sized businesses, and
              individuals to make their businesses more profitable through
              exceptional digital marketing services such as SEO, SMM, PPC,
              Content Marketing, and others.
            </p>
            <a
              href="#contact"
              class="btn btn-outline-secondary btn-lg border text-white"
              >Join with Us</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Banner Section End -->

    <!-- Digital Marketing Development Services -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Digital Marketing Company in Bangalore That Provides Extensive
          Marketing Solutions
        </h5>
        <p class="card-text mt-3" data-aos="fade-up" data-aos-duration="2000">
          We develop an effective digital marketing strategy to help your
          company grow and achieve its objectives. As a leading digital
          marketing agency in Bangalore, we guarantee that we will provide
          exceptional digital marketing services that will produce outstanding
          results. Search Engine Optimization (SEO services), Pay Per Click
          Advertising (PPC), Social Media Marketing (SMM), Content Marketing,
          and a variety of other services are available to help you increase the
          value of your brand and drive more traffic to your website. We use
          effective SEO techniques and plans to deliver effective communication
          with your target audience in order to promote your brand.
        </p>
        <p class="card-text mt-3" data-aos="fade-up" data-aos-duration="2000">
          Everyone nowadays wants to grow their business, get more organic
          leads, and improve their online presence. As a result, they are
          looking for the best digital marketing company that can provide them
          with guaranteed solutions for their business. As a top digital
          marketing agency in Bangalore, we guarantee that we will provide
          exceptional digital marketing services that will produce outstanding
          results. We develop an effective digital marketing strategy to help
          your company grow and achieve its objectives. Search Engine
          Optimization (SEO), Pay Per Click Advertising (PPC), Social Media
          Marketing (SMM), Content Marketing, and a variety of other services
          are available to help you increase the value of your brand and drive
          more traffic to your website. We use effective SEO techniques and
          plans to deliver effective communication with your target audience in
          order to promote your brand.
        </p>
        <p class="card-text mt-3" data-aos="fade-up" data-aos-duration="2000">
          As a leading digital marketing agency in Bangalore, we offer
          incredible digital marketing solutions that increase the value of your
          brand, increase sales, and improve your social presence. To create a
          perfect marketing strategy for your business, we collect clear data
          about your business using marketing tools such as Ahrefs, SEMrush,
          Google Analytics, and others. We assist you in connecting with your
          prospective customers in an appropriate manner, and we make the
          necessary updates to your website on a regular basis to ensure that
          you rank at the top of Search Engine Results Pages (SERPS). We ensure
          that your website is visible every time a customer searches for a
          product, resulting in a high conversion rate. Engage our digital
          marketing experts to help you increase website traffic and generate
          more organic leads!
        </p>
        <p class="card-text mt-3" data-aos="fade-up" data-aos-duration="2000">
          We have a thorough understanding of various digital marketing
          strategies that can assist you in expanding your business and
          connecting with potential customers. Our digital marketing experts
          stay up to date on the latest digital marketing trends and implement
          cutting-edge techniques to boost your website's ranking in a short
          period of time. We optimise your website's content and make it easily
          accessible to your customers. We work with the goal of developing a
          strong digital presence for our clients' businesses, which allows us
          to generate more revenue for them. Get in touch with us to find the
          best digital marketing solution for your company!
        </p>

        <h5
          class="secation-head text-uppercase text-center mt-5"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Services for Digital Marketing
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We take a data-driven approach and analyse how customers interact with
          your website in order to provide various services such as SEO, PPC,
          SMM, Content Marketing, and so on to help your website rank high in
          search engine results.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/search-engine-optimization.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Search Engine Optimization"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Search Engine Optimization (SEO)
                </h6>
                <p class="card-text mt-5">
                  An effective SEO strategy is required to achieve high rankings
                  and online visibility. We provide SEO audits as well as
                  full-service SEO management, which includes managing local
                  listings, optimising Google My Business, and other services to
                  drive appropriate organic traffic to your website.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/advertising.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Pay per click ad"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Pay Per Click Advertising (PPC)
                </h6>
                <p class="card-text mt-5">
                  Pay Per Click Advertising (PPC) Assist businesses in lead
                  generation through our Pay Per Click services, which include
                  promotion on Facebook, YouTube, and other social media
                  platforms. We work with complete transparency and detailed
                  goals in order for you to clearly understand the services you
                  have paid for as well as the results obtained.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/reputation.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Brand Reputation"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Brand Reputation</h6>
                <p class="card-text mt-5">
                  Our expert SEO professionals provide world-class SEO services
                  to boost your brand's reputation and increase your ROI. We
                  have hands-on experience in providing ideal SEO and content
                  marketing strategies to increase the value of your brand and
                  increase sales.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/social-media.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Marketing"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Marketing on Social Media (SMM)
                </h6>
                <p class="card-text mt-5">
                  Social media marketing (SMM) is also a difficult process that
                  must be carried out correctly and with the proper strategy. We
                  provide well-planned marketing strategies and organic social
                  media management services to ensure that your website reaches
                  the right audience quickly.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/content.webp"
                class="float-start card-icon m-auto mt-5"
                alt="content Marketing"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Marketing with Content
                </h6>
                <p class="card-text mt-5">
                  We employ an effective content marketing strategy to create
                  engaging and impactful content that highlights the value of
                  your brand to the customer. We provide content marketing
                  services, including the creation of compelling content that
                  engages your customers and elevates your brand.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/email-marketing.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Email marketing"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Email Advertising</h6>
                <p class="card-text mt-5">
                  We are skilled at sending high-quality, engaging, and
                  professionally designed promotional emails to the right
                  customers in a timely manner. Email marketing is the most
                  effective channel for promoting your business and capturing
                  customer attention in the majority of business domains.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Advantage -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          The Advantages of Digital Marketing
        </h5>
        <p
          class="text-center m-auto mt-3"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Our SEO team is well-versed in various digital marketing techniques
          and is skilled at putting them into action to increase your sales.
          your conversion rates
        </p>
        <div
          class="row row-cols-1 row-cols-md-3 g-4 mt-5"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text">
                  Search engine optimization improves the reputation of your
                  brand.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text">
                  Assists your website in ranking high in search results.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text">
                  Increase your company's ROI by generating more leads.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text">
                  Social media marketing helps to promote your products online
                  and attract new customers.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <div class="card-body">
                <p class="card-text">
                  Increased online visibility and conversion rate.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Advantage End -->

    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Our goal is to implement successful SEO strategies in order to
          increase conversions and leads.
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          With the goal of improving your brand's reputation and increasing
          sales, our SEO team makes every effort to increase your website
          visibility and search engine ranking in order to drive more traffic to
          your website.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/seo position.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Seo Positions"
              />
              <div class="card-body">
                <small class="text-muted"
                  >Climb the SEO food chain to get</small
                >
                <h6 class="card-title text-uppercase">
                  Top Search Engine Positions
                </h6>
                <p>
                  You can easily find your name at the top of Bing results if
                  you use our SEO services. We use proper SEO strategies to help
                  you rank high in Google search results. With our well-planned
                  SEO services, your website will be at the top of all search
                  engines.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/positioning.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Increased Visits"
              />
              <div class="card-body">
                <small class="text-muted">Boost web traffic and profit</small>
                <h6 class="card-title text-uppercase">
                  Increased Visits to Your Website
                </h6>
                <p>
                  Increase the visibility of your website on social media
                  channels and drive more traffic to it. The best SEO strategies
                  for reaching your target audience via various channels and
                  increasing visits. Improve the value of your brand by
                  utilising various SEO techniques to quickly reach your
                  customers.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/generate profile.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Generate Profitable leads"
              />
              <div class="card-body">
                <small class="text-muted">Transform the traffic into</small>
                <h6 class="card-title text-uppercase">
                  Generate Profitable Leads
                </h6>
                <p>
                  We take a customer-centric approach and provide lead
                  optimization services. We run an A/B split test to determine
                  which of your website's pages is the most profitable. We
                  assist in the promotion of your website so that your product
                  reaches the right customers and generates profits.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- digital marketing Development Services End -->

    <!-- Service Providers -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Why is Bluelook Bangalore's best digital marketing company?
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          By analysing your company's needs, we create one-of-a-kind digital
          marketing strategies for each project. We provide customised SEO
          services to help you promote your brand and improve your search engine
          rankings.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/user-experience.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Experience"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  3 years of experience in the digital marketing industry
                </h6>
                <p>
                  3 years of experience in digital marketing services, SEO
                  strategies, and other related areas.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/industray talennt.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Industry top talent"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  The industry's top talent
                </h6>
                <p>
                  To achieve successful results, a well-trained and highly
                  skilled team is required.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/process.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Process That work"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Processes that work</h6>
                <p>
                  Proven track record of providing digital marketing services
                  for a variety of projects.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/result oriented.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Result oriented"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Result-oriented</h6>
                <p>
                  SEO agency with a certified SEO team that is goal-oriented and
                  results-driven.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/punctuality.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Transparency and punctuality"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Transparency and punctuality
                </h6>
                <p>
                  Full transparency in work and set goals for project completion
                  on time.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digital marketting/expertice in industries.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Expertise in the industry"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Expertise in the industry
                </h6>
                <p>
                  Many projects in various industry domains were completed with
                  global clients.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service provider End -->

    <!-- News Section -->
    <section>
      <div class="container mb-5">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          BLUELOOK INSIGHTS / NEWS
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We are continually researching current trends and technology and are
          eager to share our findings. Keep up with the newest news and
          inspiring tales that provide ultimate solutions for your organisation
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/womens.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Bluelook Women's Day Celebration</h5>
                <small class="text-muted">Bluelook</small>
                <p class="card-text">
                  Today is International Women's Day, a day that celebrates
                  women's contributions and achievements in a variety of fields.
                  Bluelook commemorates this special day dedicated to women.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/android_1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  Beginners Android App Development Process
                </h5>
                <small class="text-muted">Bluelook,Technology</small>
                <p class="card-text">
                  The most appealing features of apps are what pique users'
                  interest. Apps make phones "today smart," and their benefits
                  have drastically altered how we live our lives.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/flutter.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">A Beginners Flutter AppDevelopment</h5>
                <small class="text-muted">Bluelook, Technology</small>
                <p class="card-text">
                  As the use of mobile apps grows, various platforms for
                  developing various types of applications have been introduced
                  in the market. The days of developing mobile apps as native
                  apps are long gone.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- News Section End -->

    <!-- Quations-->
    <section>
      <div class="container wrapper mt-5">
        <div class="h5 text-center fw-bold">Frequently Asked Qustions</div>
        <div class="h6 text-center mt-3 mb-5">How can we help you?</div>
        <div
          class="accordion accordion-flush border-top border-start border-end"
          id="myAccordion"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                How can a digital marketing agency improve your business?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Apart from providing SEO, SMM, content marketing, PPC and
                  other services we also offer mobile app development, website
                  development, web design, UI/UX design, unique content creation
                  services. We promote your business through various effective
                  digital marketing strategies and social media platforms like
                  Facebook, LinkedIn, Twitter, Pinterest, etc.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                What kind of processes will be followed by the best digital
                marketing company?
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Typically, the best digital marketing agencies in Bangalore
                  will offer you business growth strategies based on your
                  specific needs and will begin promoting your company on social
                  media platforms. This aids in the acceleration of your
                  company's growth, as well as the improvement of organic
                  traffic and sales.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                What are the typical services provided by the best digital
                marketing firm?
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Organic traffic is available for free. Paid SEO services, on
                  the other hand, are expensive and will cease as soon as the
                  package expires. Paid SEO services, on the other hand, will
                  always generate more organic traffic and leads.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
                What are the most recent digital marketing trends for the year
                2021?
              </button>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Modern digital marketing trends primarily target a specific
                  group of target audiences and provide personalised digital
                  marketing services. Search Engine Marketing, Social Media
                  Marketing, Content Marketing, Voice and Visual Search Engine
                  Optimization, Chatbots, Personalized Marketing, Video
                  Marketing, and other important 2021 techniques are still top
                  priorities.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive"
              >
                What does the future of digital marketing look like?
              </button>
            </h2>
            <div
              id="flush-collapseFive"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Any good SEO analyst will use white hat techniques to make
                  your website visible in almost all search engines. Effective
                  SEO services are critical components of a successful digital
                  marketing strategy for generating qualified leads and
                  increasing sales.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Quations End -->

    <!-- Awards Section-->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          OUR SUCCESSFUL AWARDS
        </h5>
        <div class="row g-0 mt-3" data-aos="fade-up" data-aos-duration="2000">
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="first bg-white p-4 text-center">
                <img
                  alt="goodfirms"
                  src="assets/img/icons/goodfirms_1.png.webp"
                />
                <h5>GoodFirms</h5>
                <p class="line1">
                  Top Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="second bg-white p-4 text-center">
                <img alt="top rated" src="assets/img/icons/top rated.webp" />
                <h5>Softwareworld</h5>
                <p class="line2">
                  World’s Top 50+ Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="top adroid" src="assets/img/icons/top adroid.webp" />
                <h5>Appfutura</h5>
                <p class="line3">Top Android App Development company</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="cluth" src="assets/img/icons/cluth.webp" />
                <h5>Clutch</h5>
                <p class="line3">Top App developing company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Awards Section End-->

    <!-- Contact -->
    <div class="mt-3 mb-5" id="contact">
      <h5
        class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100 clsaa-uderline"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        GET IN TOUCH
      </h5>
      <div class="row mt-5">
        <div class="col-md-6" style="background-color: #1656b4">
          <div class="container">
            <h5
              class="secation-head text-uppercase text-center text-white m-auto mt-5 w-50 width-100"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              OUR SUCCESSFUL AWARDS
            </h5>
            <div
              class="row g-0 mt-3"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="first p-4 text-center">
                    <img
                      alt="goodfirms"
                      src="assets/img/icons/goodfirms_1.png.webp"
                    />
                    <h5>GoodFirms</h5>
                    <p class="line1">
                      Top Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="second p-4 text-center">
                    <img
                      alt="top rated"
                      src="assets/img/icons/top rated.webp"
                    />
                    <h5>Softwareworld</h5>
                    <p class="line2">
                      World’s Top 50+ Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row g-0 mb-5"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img
                      alt="top adroid"
                      src="assets/img/icons/top adroid.webp"
                    />
                    <h5>Appfutura</h5>
                    <p class="line3">Top Android App Development company</p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img alt="cluth" src="assets/img/icons/cluth.webp" />
                    <h5>Clutch</h5>
                    <p class="line3">Top App developing company</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container mt-4">
            <!-- <h3>Interact with We!</h3> -->
            <form
              class="row g-3"
              action="/sendMail"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="col-md-6">
                <label for="yourName " class="fw-bolder fs-6 mb-1"
                  >Enter Your Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="yourName"
                  name="name"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="phoneNumber" class="fw-bolder fs-6 mb-1"
                  >Phone Number(Optional)</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phoneNumber"
                />
              </div>
              <!-- <div class="col-md-6">
                      <label for="lastName" class="form-label">Enter Your Email</label>
                      <input type="text" class="form-control" id="lastName" required>
                    </div> -->
              <div class="col-md-6">
                <label for="emailInfo" class="fw-bolder fs-6 mb-1"
                  >E-mail</label
                >
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="emailInfo"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="services" class="fw-bolder fs-6 mb-1"
                  >Services</label
                >
                <select
                  name="services"
                  name="services"
                  class="form-control"
                  id="services"
                >
                  <option value="volvo">Select Service</option>
                  <option value="Website Development">
                    Website Development
                  </option>
                  <option value="UI/UX Design ">UI/UX Design</option>
                  <option value="IOS App Development">
                    IOS App Development
                  </option>
                  <option value="Android App Development">
                    Android App Development
                  </option>
                  <option value="Ecommerce App Development">
                    Ecommerce App Development
                  </option>
                  <option value="Web design">Web design</option>
                  <option value="SEO">SEO</option>
                  <option value="Digital Marketing">Digital Marketing</option>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="col-md-12">
                <label for="subjectTitle" class="fw-bolder fs-6 mb-1"
                  >Subject</label
                >
                <input
                  type="text"
                  name="subject"
                  class="form-control"
                  id="subjectTitle"
                  required
                />
              </div>
              <div class="col-md-12">
                <label for="comments" class="fw-bolder fs-6 mb-1"
                  >Write Message</label
                >
                <textarea
                  class="form-control"
                  name="body"
                  id="comments"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="col-md-6">
                <label for="myfile" class="fw-bolder fs-6 mb-1"
                  >Attach a file (Optional)</label
                >
                <input
                  type="file"
                  name="files"
                  id="myfile"
                  name="myfile"
                  class="form-control"
                /><br /><br />
              </div>

              <div class="col-md-6 mt-5">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End-->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark footer-bg">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row row-cols-1 row-cols-md-4 m-auto">
            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">COMPANY</h6>
              <p>
                <a href="/bluelook/about" class="footer-hover second-color"
                  >About</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/testimonial"
                  class="footer-hover second-color"
                  >Testimonial</a
                >
              </p>
              <p>
                <a href="/bluelook/process" class="footer-hover second-color"
                  >Process</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/life-at-bluelook"
                  class="footer-hover second-color"
                  >Life @ Bluelook</a
                >
              </p>
              <p>
                <a href="/bluelook/careers" class="footer-hover second-color"
                  >Careers</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/engagement-model"
                  class="footer-hover second-color"
                  >Engagement Model</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">SERVICES</h6>
              <p>
                <a
                  href="/services/Mobile-App-development"
                  class="footer-hover second-color"
                  >Mobile App Development</a
                >
              </p>
              <p>
                <a
                  href="/services/web-development"
                  class="footer-hover second-color"
                  >Web Development</a
                >
              </p>
              <p>
                <a
                  href="/services/ui-development"
                  class="footer-hover second-color"
                  >User Experience Design</a
                >
              </p>
              <p>
                <a
                  href="/services/iot-development"
                  class="footer-hover second-color"
                  >IOT Development</a
                >
              </p>
              <p>
                <a
                  href="/services/chatbot-development"
                  class="footer-hover second-color"
                  >Chatbot Development</a
                >
              </p>
              <p>
                <a
                  href="/services/staff-augmentation"
                  class="footer-hover second-color"
                  >Staff Augmentation</a
                >
              </p>
              <p>
                <a
                  href="/services/digital-transformation"
                  class="footer-hover second-color"
                  >Digital Transformation</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">RESOURCE</h6>
              <p>
                <a href="/bluelook/blogs" class="footer-hover second-color"
                  >Blog</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/our-products"
                  class="footer-hover second-color"
                  >Our Products</a
                >
              </p>
              <p>
                <a href="/technologies" class="footer-hover second-color"
                  >Technologies</a
                >
              </p>
              <h6 class="text-uppercase mb-4 font-weight-bold">SUPPORT</h6>
              <p>
                <a class="footer-hover second-color">24/7 Customer Service</a>
              </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

              <a class="navbar-brand" href="/"
                ><img
                  src="assets/img/logo/bluelook_logo_for_web.png"
                  alt="Bluelook"
              /></a>

              <p class="second-color mt-4">
                Location:
                <span class="text-primary fs-6">Bangalore, India</span>
              </p>
              <p class="second-color mt-2">
                Business:
                <span class="text-primary fs-6">hello@bluelooktech.com</span>
              </p>
              <p class="second-color">
                Job Mail: <span class="text-primary"> hr@bluelooktech.com</span>
              </p>

              <a href="https://join.skype.com/invite/veiT43OOhP9V">
                <p class="second-color">
                  Skype: <span class="text-primary"> sathya@bluelook</span>
                </p>
              </a>

              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9952491705
              </p>
              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9597444726
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3" />

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2022 Copyright: Bluelook Technologies Pvt Ltd
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                href="https://www.facebook.com/bluelooktech.2018/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.instagram.com/bluelooktech_bangalore/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>

              <a
                href="https://twitter.com/bluelook_tech"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer End-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/60af645c6699c7280da93052/1f6mi039t";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
