<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Digital Transfermation Services| Bluelook| India</title>
    <meta
      name="description"
      content="Looking for a digital transformation company? we are providing the best digital transformation solution for your business."
    />
    <meta
      name="keywords"
      content="Bluelooktech,Bluelook, Digital Transformation services in Bangalore, Digital transformation agency, digital transformation consulting firm, digital transformation solution in Bangalore"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font/font.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-210344120-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-210344120-1");
    </script>
  </head>

  <body>
    <!-- header start -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top"
    >
      <div class="container-fluid bd-highlight mb-3">
        <a class="navbar-brand me-auto p-2 bd-highlight" href="/"
          ><img src="assets/img/logo/bluelook_logo_for_web.png" alt="Bluelook"
        /></a>

        <button
          class="navbar-toggler p-2 bd-highlight"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/bluelook/about">About</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/process">Process</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/testimonial"
                    >Testimonials</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/life-at-bluelook"
                    >Life @ Bluelook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/careers">Careers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/engagement-model"
                    >Engagement Model</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/services"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Services
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Product Development</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/saas-application-development"
                            class="dropdown-item"
                            >SaaSCommerce</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/serverless-development"
                            class="dropdown-item"
                            >Serverless Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/MVP-development"
                            class="dropdown-item"
                            >MVP Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/eCommerce-development"
                            class="dropdown-item"
                            >eDevelopment</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Mobile Apps</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/flutter-development"
                            class="dropdown-item"
                            >Flutter</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Intelligent Automation
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ai-development"
                            class="dropdown-item"
                            >AI</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IOT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/rpa-development"
                            class="dropdown-item"
                            >RPA</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/chatbot-development"
                            class="dropdown-item"
                            >Chatbot Development</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/services/Mobile-App-development"
                            >Mobile App Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/web-development"
                            class="dropdown-item"
                            >Web Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IoT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/ui-development"
                            class="dropdown-item"
                            >User Experience Design</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-marketing"
                            class="dropdown-item"
                            >Digital Marketing</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/staff-augmentation"
                            class="dropdown-item"
                            >Staff Augmentation</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/devops-consulting-service"
                            class="dropdown-item"
                            >DevOps Consulting Services</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-transformation"
                            class="dropdown-item"
                            >Digital Transformation</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/technologies"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Hire Developers
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Backend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/laravel-development"
                            class="dropdown-item"
                            >Laravel PHP</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/nodeJS-development"
                            class="dropdown-item"
                            >Node js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/java-spring-foot-development"
                            class="dropdown-item"
                            >Java spring boot</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/asb-development"
                            class="dropdown-item"
                            >ASP.NET</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Frontend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/angular-development"
                            class="dropdown-item"
                            >Angular.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/vue-development"
                            class="dropdown-item"
                            >Vue.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        UI/UX Designing Tools
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item">Adobe Photoshop</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe Illustrator</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe XD</a>
                        </li>
                        <li><a class="dropdown-item">Figma</a></li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <img
                        class="nav-img"
                        src="assets/img/tech.webp"
                        alt="Tech"
                      />
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Industries
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="/bluelook/industries/health-care"
                    >Health Care</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/our-products"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Our Products</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/blogs"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Blogs</a
              >
            </li>
          </ul>
          <div class="flot-end">
            <a href="https://twitter.com/bluelook_tech"
              ><i class="fa fa-twitter pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.instagram.com/bluelooktech_bangalore/"
              ><i class="fa fa-instagram pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.facebook.com/bluelooktech.2018/"
              ><i class="fa fa-facebook pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
              ><i
                class="fa fa-youtube-play pe-3 nav-icon"
                aria-hidden="true"
              ></i
            ></a>
            <a
              href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
              ><i class="fa fa-linkedin pe-3 nav-icon" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <form class="d-flex p-2 bd-highlight">
          <button class="btn btn btn-primary me-2" type="button">
            <a href="#contact" class="text-white">Contact</a>
          </button>
        </form>
      </div>
    </nav>
    <!-- header end -->

    <!-- Hero Banner Section -->
    <section class="hero-banner hero-banner-dt bg-primary-dt py-5">
      <div class="container">
        <div class="row row align-items-center">
          <div class="col-lg-5 offset-lg-1 order-lg-1">
            <img
              src="assets/img/banner/digital-transformation-services_image.webp"
              class="img-fluid"
              data-aos="fade-up"
              data-aos-duration="8000"
              alt="Digital Transformation"
              title="Digital Transformation Services"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="mt-3 text-white">
              Bangalore Digital Transformation Agency
            </h1>
            <p class="lead text-secondary my-5 text-white">
              We provide world-class solutions to help you accelerate your
              digital transformation. We analyse all of your business
              requirements and provide all of the necessary technical knowledge
              to help you bring your business to the forefront.
            </p>
            <a
              href="#contact"
              class="btn btn-outline-secondary btn-lg border text-white"
              >Join with Us</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Banner Section End -->

    <!-- Digital transfermation Development Services -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Summary
        </h5>
        <p class="card-text mt-3" data-aos="fade-up" data-aos-duration="2000">
          Most businesses are looking for digital transformation service
          providers who can offer efficient digital transformation solutions
          based on their business requirements in order to compete in today's
          rapidly evolving, digitally-oriented markets. We provide start-ups,
          enterprises, and medium-sized businesses all over the world with
          high-quality, technology-driven, and cost-effective digital
          transformation services. bluelook is Bangalore's leading digital
          transformation company, providing effective digital transformation
          solutions. We provide services to clients in order to help them
          increase their ROI and expand their business.To help your business, we
          provide web and mobile app development, UI/UX design, web design, MVP,
          SaaS, chatbot, Internet of Things (IoT), Next-generation mobile,
          Cloud, and other services.
        </p>
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          The Path to Digital Transformation
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We have a talented team of mobile app developers, UI/UX designers, web
          developers, a QA team, and other staff to guide you through functional
          and technical possibilities while providing exceptional digital
          transformation consulting services.
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/ux-design.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Strategy for Digital Transformation
                </h6>
                <p class="card-text mt-5">
                  If you are planning any flexible business models to create a
                  strategic plan to transform the processes, a digital
                  transformation strategy requires complete knowledge of the
                  customers, processes, and digital technology prospects. A DT
                  Strategy includes flexible business models, a proper digital
                  transformation strategy, and a thorough competitor analysis.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/transformation.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Designing the User Experience
                </h6>
                <p class="card-text mt-5">
                  User experience design focuses on a specific target audience
                  in order to create rational and feasible interactions across
                  multiple platforms. It is essential to create artistic and
                  instinctive interfaces across all channels. Attractive User
                  Interfaces, Amazing User Experience, and Appealing Design
                  Layouts are all important aspects of user experience.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/resize.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Automation and Development
                </h6>
                <p class="card-text mt-5">
                  We analyse the project's initial concept and provide all
                  services ranging from effective business strategy to
                  consulting, development, QA testing, and the development of
                  websites and mobile apps. Automation includes everything from
                  app development to API integration and testing, DevOps
                  services, QA, and deployment.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Enablers of Digital Transformation
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We provide proper digital transformation services that exceed clients'
          expectations of any digital transformation agency.
        </p>
        <div class="row row-cols-2 row-cols-md-5 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/big-data.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Big Data"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Big Data</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/devops.webp"
                class="float-start card-icon m-auto mt-5"
                alt="devops"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">DevOps</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/iot.webp"
                class="float-start card-icon m-auto mt-5"
                alt="IOT"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">IOT</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/frontend.webp"
                class="float-start card-icon m-auto mt-5"
                alt="frontend"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Frond-End</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/ai.webp"
                class="float-start card-icon m-auto mt-5"
                alt="AI Development"
                title="Artificial Intelligence Development Company in Bangalore"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">ML/AI</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/chatbot.webp"
                class="float-start card-icon m-auto mt-5"
                alt="chatbot"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Chatbot</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/vr.webp"
                class="float-start card-icon m-auto mt-5"
                alt="VR"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">AR/VR</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/blockchain.webp"
                class="float-start card-icon m-auto mt-5"
                alt="blockchain"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Blockchain</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/mobility.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Mobility"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Mobility</h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/web.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Web"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Web</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- digital transfermation Development Services End -->

    <!-- Service Providers -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          Our Unique Selling Points
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          HR management systems play an important role in corporate software,
          which is used in a wide range of organisations. The need for HRMS
          integration is determined by its ability to resolve the issues listed
          below.
        </p>
        <div class="row row-cols-1 row-cols-md-4 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/CONSULTATION.webp"
                class="float-start card-icon m-auto mt-5"
                alt="consulting"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Strategy and Consultation
                </h6>
                <p>
                  Our consulting services assist in the integration of digital
                  technologies with the best infrastructure in order to create a
                  cohesive digital strategy.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/DATA-DRIVEN.webp"
                class="float-start card-icon m-auto mt-5"
                alt="data-driven"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  A Data-Driven Approach
                </h6>
                <p>
                  Collect key insights to improve processes and respond quickly
                  to switch for iterative development.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/ENGINEERING.webp"
                class="float-start card-icon m-auto mt-5"
                alt="Engineering"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Engineering driven by design
                </h6>
                <p>
                  Our design-led engineering approach completely transforms the
                  user experience to provide amazing mobile and web solutions.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/digitaltransfermation/communication.webp"
                class="float-start card-icon m-auto mt-5"
                alt="communication"
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">
                  Communication that is open
                </h6>
                <p>
                  For better results, take a collaborative approach, be
                  transparent, and communicate effectively with your clients.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Service provider End -->

    <!-- News Section -->
    <section>
      <div class="container mb-5">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          BLUELOOK INSIGHTS / NEWS
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We are continually researching current trends and technology and are
          eager to share our findings. Keep up with the newest news and
          inspiring tales that provide ultimate solutions for your organisation
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/womens.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Bluelook Women's Day Celebration</h5>
                <small class="text-muted">Bluelook</small>
                <p class="card-text">
                  Today is International Women's Day, a day that celebrates
                  women's contributions and achievements in a variety of fields.
                  Bluelook commemorates this special day dedicated to women.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/android_1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  Beginners Android App Development Process
                </h5>
                <small class="text-muted">Bluelook,Technology</small>
                <p class="card-text">
                  The most appealing features of apps are what pique users'
                  interest. Apps make phones "today smart," and their benefits
                  have drastically altered how we live our lives.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/flutter.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">A Beginners Flutter AppDevelopment</h5>
                <small class="text-muted">Bluelook, Technology</small>
                <p class="card-text">
                  As the use of mobile apps grows, various platforms for
                  developing various types of applications have been introduced
                  in the market. The days of developing mobile apps as native
                  apps are long gone.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- News Section End -->

    <!-- Awards Section-->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          OUR SUCCESSFUL AWARDS
        </h5>
        <div class="row g-0 mt-3" data-aos="fade-up" data-aos-duration="2000">
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="first bg-white p-4 text-center">
                <img
                  alt="goodfirms"
                  src="assets/img/icons/goodfirms_1.png.webp"
                />
                <h5>GoodFirms</h5>
                <p class="line1">
                  Top Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="second bg-white p-4 text-center">
                <img alt="top rated" src="assets/img/icons/top rated.webp" />
                <h5>Softwareworld</h5>
                <p class="line2">
                  World’s Top 50+ Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="top adroid" src="assets/img/icons/top adroid.webp" />
                <h5>Appfutura</h5>
                <p class="line3">Top Android App Development company</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="cluth" src="assets/img/icons/cluth.webp" />
                <h5>Clutch</h5>
                <p class="line3">Top App developing company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Awards Section End-->

    <!-- Contact -->
    <div class="mt-3 mb-5" id="contact">
      <h5
        class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100 clsaa-uderline"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        GET IN TOUCH
      </h5>
      <div class="row mt-5">
        <div class="col-md-6" style="background-color: #1656b4">
          <div class="container">
            <h5
              class="secation-head text-uppercase text-center text-white m-auto mt-5 w-50 width-100"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              OUR SUCCESSFUL AWARDS
            </h5>
            <div
              class="row g-0 mt-3"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="first p-4 text-center">
                    <img
                      alt="goodfirms"
                      src="assets/img/icons/goodfirms_1.png.webp"
                    />
                    <h5>GoodFirms</h5>
                    <p class="line1">
                      Top Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="second p-4 text-center">
                    <img
                      alt="top rated"
                      src="assets/img/icons/top rated.webp"
                    />
                    <h5>Softwareworld</h5>
                    <p class="line2">
                      World’s Top 50+ Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row g-0 mb-5"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img
                      alt="top adroid"
                      src="assets/img/icons/top adroid.webp"
                    />
                    <h5>Appfutura</h5>
                    <p class="line3">Top Android App Development company</p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img alt="cluth" src="assets/img/icons/cluth.webp" />
                    <h5>Clutch</h5>
                    <p class="line3">Top App developing company</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container mt-4">
            <!-- <h3>Interact with We!</h3> -->
            <form
              class="row g-3"
              action="/sendMail"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="col-md-6">
                <label for="yourName " class="fw-bolder fs-6 mb-1"
                  >Enter Your Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="yourName"
                  name="name"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="phoneNumber" class="fw-bolder fs-6 mb-1"
                  >Phone Number(Optional)</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phoneNumber"
                />
              </div>
              <!-- <div class="col-md-6">
                      <label for="lastName" class="form-label">Enter Your Email</label>
                      <input type="text" class="form-control" id="lastName" required>
                    </div> -->
              <div class="col-md-6">
                <label for="emailInfo" class="fw-bolder fs-6 mb-1"
                  >E-mail</label
                >
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="emailInfo"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="services" class="fw-bolder fs-6 mb-1"
                  >Services</label
                >
                <select
                  name="services"
                  name="services"
                  class="form-control"
                  id="services"
                >
                  <option value="volvo">Select Service</option>
                  <option value="Website Development">
                    Website Development
                  </option>
                  <option value="UI/UX Design ">UI/UX Design</option>
                  <option value="IOS App Development">
                    IOS App Development
                  </option>
                  <option value="Android App Development">
                    Android App Development
                  </option>
                  <option value="Ecommerce App Development">
                    Ecommerce App Development
                  </option>
                  <option value="Web design">Web design</option>
                  <option value="SEO">SEO</option>
                  <option value="Digital Marketing">Digital Marketing</option>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="col-md-12">
                <label for="subjectTitle" class="fw-bolder fs-6 mb-1"
                  >Subject</label
                >
                <input
                  type="text"
                  name="subject"
                  class="form-control"
                  id="subjectTitle"
                  required
                />
              </div>
              <div class="col-md-12">
                <label for="comments" class="fw-bolder fs-6 mb-1"
                  >Write Message</label
                >
                <textarea
                  class="form-control"
                  name="body"
                  id="comments"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="col-md-6">
                <label for="myfile" class="fw-bolder fs-6 mb-1"
                  >Attach a file (Optional)</label
                >
                <input
                  type="file"
                  name="files"
                  id="myfile"
                  name="myfile"
                  class="form-control"
                /><br /><br />
              </div>

              <div class="col-md-6 mt-5">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End-->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark footer-bg">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row row-cols-1 row-cols-md-4 m-auto">
            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">COMPANY</h6>
              <p>
                <a href="/bluelook/about" class="footer-hover second-color"
                  >About</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/testimonial"
                  class="footer-hover second-color"
                  >Testimonial</a
                >
              </p>
              <p>
                <a href="/bluelook/process" class="footer-hover second-color"
                  >Process</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/life-at-bluelook"
                  class="footer-hover second-color"
                  >Life @ Bluelook</a
                >
              </p>
              <p>
                <a href="/bluelook/careers" class="footer-hover second-color"
                  >Careers</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/engagement-model"
                  class="footer-hover second-color"
                  >Engagement Model</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">SERVICES</h6>
              <p>
                <a
                  href="/services/Mobile-App-development"
                  class="footer-hover second-color"
                  >Mobile App Development</a
                >
              </p>
              <p>
                <a
                  href="/services/web-development"
                  class="footer-hover second-color"
                  >Web Development</a
                >
              </p>
              <p>
                <a
                  href="/services/ui-development"
                  class="footer-hover second-color"
                  >User Experience Design</a
                >
              </p>
              <p>
                <a
                  href="/services/iot-development"
                  class="footer-hover second-color"
                  >IOT Development</a
                >
              </p>
              <p>
                <a
                  href="/services/chatbot-development"
                  class="footer-hover second-color"
                  >Chatbot Development</a
                >
              </p>
              <p>
                <a
                  href="/services/staff-augmentation"
                  class="footer-hover second-color"
                  >Staff Augmentation</a
                >
              </p>
              <p>
                <a
                  href="/services/digital-transformation"
                  class="footer-hover second-color"
                  >Digital Transformation</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">RESOURCE</h6>
              <p>
                <a href="/bluelook/blogs" class="footer-hover second-color"
                  >Blog</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/our-products"
                  class="footer-hover second-color"
                  >Our Products</a
                >
              </p>
              <p>
                <a href="/technologies" class="footer-hover second-color"
                  >Technologies</a
                >
              </p>
              <h6 class="text-uppercase mb-4 font-weight-bold">SUPPORT</h6>
              <p>
                <a class="footer-hover second-color">24/7 Customer Service</a>
              </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

              <a class="navbar-brand" href="/"
                ><img
                  src="assets/img/logo/bluelook_logo_for_web.png"
                  alt="Bluelook"
              /></a>

              <p class="second-color mt-4">
                Location:
                <span class="text-primary fs-6">Bangalore, India</span>
              </p>
              <p class="second-color mt-2">
                Business:
                <span class="text-primary fs-6">hello@bluelooktech.com</span>
              </p>
              <p class="second-color">
                Job Mail: <span class="text-primary"> hr@bluelooktech.com</span>
              </p>

              <a href="https://join.skype.com/invite/veiT43OOhP9V">
                <p class="second-color">
                  Skype: <span class="text-primary"> sathya@bluelook</span>
                </p>
              </a>

              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9952491705
              </p>
              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9597444726
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3" />

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2022 Copyright: Bluelook Technologies Pvt Ltd
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                href="https://www.facebook.com/bluelooktech.2018/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.instagram.com/bluelooktech_bangalore/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>

              <a
                href="https://twitter.com/bluelook_tech"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer End-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/60af645c6699c7280da93052/1f6mi039t";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
