<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Blogs | A Beginners Flutter App Development | Bluelook</title>
    <meta name="description"
        content="As the use of mobile apps grows, many platforms for developing various sorts of applications have been offered in the market.">
    <meta name="keywords"
        content="Bluelooktech,Bluelook ,blogs, bluelook's blogs, bluelook's newsletter, flutter app development process, flutter app development, Beginners Flutter App Development, Flutter App Development for development">
    <link rel="shortcut icon" type="image/png" href="assets/img/logo/icon_bulelook.png">
    <link rel="icon" type="image/png" href="assets/img/logo/icon_bulelook.png">
    <link rel="apple-touch-icon" type="image/png" href="assets/img/logo/icon_bulelook.png">
                 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />

    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font/font.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-210344120-1"></script>
</head>

<body>
    <!-- header start -->

    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top">
        <div class="container-fluid bd-highlight mb-3">
            <a class="navbar-brand me-auto p-2 bd-highlight" href="/"><img
                    src="assets/img/logo/bluelook_logo_for_web.png" alt="Bluelook" /></a>

            <button class="navbar-toggler p-2 bd-highlight" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon "></span>

            </button>



            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="/" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Company
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/bluelook/about">About</a></li>
                            <li><a class="dropdown-item" href="/bluelook/process">Process</a></li>
                            <li><a class="dropdown-item" href="/bluelook/testimonial">Testimonials</a></li>
                            <li><a class="dropdown-item" href="/bluelook/life-at-bluelook">Life @ Bluelook</a></li>
                            <li><a class="dropdown-item" href="/bluelook/careers">Careers</a></li>
                            <li>
                                <a class="dropdown-item" href="/bluelook/engagement-model">Engagement Model</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown has-megamenu">
                        <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown"
                            data-bs-toggle="dropdown">
                            Services
                        </a>
                        <div class="dropdown-menu megamenu" role="menu">
                            <div class="row g-3 p-3">
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">
                                            Product Development
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="/services/saas-application-development"
                                                    class="dropdown-item">SaaSCommerce</a>
                                            </li>
                                            <li>
                                                <a href="/services/serverless-development"
                                                    class="dropdown-item">Serverless Development</a>
                                            </li>
                                            <li>
                                                <a href="/services/MVP-development" class="dropdown-item">MVP
                                                    Development</a>
                                            </li>
                                            <li>
                                                <a href="/services/eCommerce-development"
                                                    class="dropdown-item">eDevelopment</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">Mobile Apps</h6>
                                        <ul class="list-unstyled">
                                            <li><a href="/services/ios-development" class="dropdown-item">IOS</a></li>
                                            <li><a href="/services/android-development"
                                                    class="dropdown-item">Android</a></li>
                                            <li>
                                                <a href="/services/react-native-development" class="dropdown-item">React
                                                    Native</a>
                                            </li>
                                            <li><a href="/services/flutter-development"
                                                    class="dropdown-item">Flutter</a></li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">
                                            Intelligent Automation
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li><a href="/services/ai-development" class="dropdown-item">AI</a></li>
                                            <li>
                                                <a href="/services/iot-development" class="dropdown-item">IOT
                                                    Development</a>
                                            </li>
                                            <li><a href="/services/rpa-development" class="dropdown-item">RPA</a></li>
                                            <li>
                                                <a href="/services/chatbot-development" class="dropdown-item">Chatbot
                                                    Development</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <ul class="list-unstyled">
                                            <li>
                                                <a class="dropdown-item" href="/services/Mobile-App-development">Mobile
                                                    App Development</a>
                                            </li>
                                            <li>
                                                <a href="/services/web-development" class="dropdown-item">Web
                                                    Development</a>
                                            </li>
                                            <li>
                                                <a href="/services/iot-development" class="dropdown-item">IoT
                                                    Development</a>
                                            </li>
                                            <li>
                                                <a href="/services/ui-development" class="dropdown-item">User Experience
                                                    Design</a>
                                            </li>
                                            <li>
                                                <a href="/services/digital-marketing" class="dropdown-item">Digital
                                                    Marketing</a>
                                            </li>
                                            <li>
                                                <a href="/services/staff-augmentation" class="dropdown-item">Staff
                                                    Augmentation</a>
                                            </li>
                                            <li>
                                                <a href="/services/devops-consulting-service"
                                                    class="dropdown-item">DevOps Consulting
                                                    Services</a>
                                            </li>
                                            <li>
                                                <a href="/services/digital-transformation" class="dropdown-item">Digital
                                                    Transformation</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- dropdown-mega-menu.// -->
                    </li>
                    <li class="nav-item dropdown has-megamenu">
                        <a class="nav-link dropdown-toggle" href="/technologies" id="navbarDropdown"
                            data-bs-toggle="dropdown">
                            Technologies
                        </a>
                        <div class="dropdown-menu megamenu" role="menu">
                            <div class="row g-3 p-3">
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">
                                            Backend Technologies
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="/technologies/laravel-development"
                                                    class="dropdown-item">Laravel PHP</a>
                                            </li>
                                            <li><a href="/technologies/nodeJS-development" class="dropdown-item">Node
                                                    js</a></li>
                                            <li>
                                                <a href="/technologies/java-spring-foot-development"
                                                    class="dropdown-item">Java spring boot</a>
                                            </li>
                                            <li><a href="/technologies/asb-development"
                                                    class="dropdown-item">ASP.NET</a></li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">
                                            Frontend Technologies
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a href="/technologies/angular-development"
                                                    class="dropdown-item">Angular.js</a>
                                            </li>
                                            <li><a href="/technologies/vue-development" class="dropdown-item">Vue.js</a>
                                            </li>
                                            <li><a href="/technologies/ios-development" class="dropdown-item">IOS</a>
                                            </li>
                                            <li><a href="/technologies/android-development"
                                                    class="dropdown-item">Android</a></li>
                                            <li>
                                                <a href="/technologies/react-native-development"
                                                    class="dropdown-item">React Native</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <h6 class="title ps-3 color-main">
                                            UI/UX Designing Tools
                                        </h6>
                                        <ul class="list-unstyled">
                                            <li>
                                                <a class="dropdown-item">Adobe Photoshop</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item">Adobe Illustrator</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item">Adobe XD</a>
                                            </li>
                                            <li><a class="dropdown-item">Figma</a></li>
                                        </ul>
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <div class="col-lg-3 col-12">
                                    <div class="col-megamenu">
                                        <img class="nav-img" src="assets/img/tech.webp" alt="Tech" />
                                    </div>
                                    <!-- col-megamenu.// -->
                                </div>
                                <!-- end col-3 -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- dropdown-mega-menu.// -->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bluelook/our-products" id="navbarDropdown" tabindex="-1"
                            aria-disabled="true">
                            Our Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/bluelook/blogs" id="navbarDropdown" tabindex="-1"
                            aria-disabled="true">
                            Blogs</a>
                    </li>
                </ul>
                <div class="flot-end">
                    <a href="https://twitter.com/bluelook_tech"><i class="fa fa-twitter pe-3 nav-icon"
                            aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/bluelooktech_bangalore/"><i class="fa fa-instagram pe-3 nav-icon"
                            aria-hidden="true"></i></a>
                    <a href="https://www.facebook.com/bluelooktech.2018/"><i class="fa fa-facebook pe-3 nav-icon"
                            aria-hidden="true"></i></a>
                    <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"><i
                            class="fa fa-youtube-play pe-3 nav-icon" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"><i
                            class="fa fa-linkedin pe-3 nav-icon" aria-hidden="true"></i></a>
                </div>

            </div>
            <form class="d-flex p-2 bd-highlight">
                <button class="btn btn btn-primary me-2" type="button"><a href="#contact"
                        class="text-white">Contact</a></button>
            </form>
        </div>

    </nav>
    <!-- header end -->

    <div id="fixed-social">
        <div>
            <a href="https://www.facebook.com/bluelooktech.2018/" class="fixed-facebook" target="_blank"><i class="fa fa-facebook"></i> <span>Facebook</span></a>
        </div>
        <div>
            <a href="https://twitter.com/bluelook_tech" class="fixed-twitter" target="_blank"><i class="fa fa-twitter"></i> <span>Twitter</span></a>
        </div>
        <div>
            <a href="#" class="fixed-gplus" target="_blank"><i class="fa fa-google"></i> <span>Google+</span></a>
        </div>
        <div>
            <a href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd" class="fixed-linkedin" target="_blank"><i class="fa fa-linkedin"></i> <span>LinkedIn</span></a>
        </div>
        <div>
            <a href="https://www.instagram.com/bluelooktech_bangalore/" class="fixed-instagrem" target="_blank"><i class="fa fa-instagram"></i>
                <span>Instagram</span></a>
        </div>
        <div>
            <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw" class="fixed-tumblr" target="_blank"><i class="fa fa-youtube-play"></i> <span>youtube</span></a>
        </div>
    </div>
    <Section>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">A Beginners Flutter App Development</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">Posted on Nov 15, 2021 by Start Bluelook</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/technologies/android-development">Android</a>
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/technologies/ios-development">iOS</a>
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/services/flutter-development">Flutter</a>
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/bluelook/blogs">Technology</a>
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/bluelook/blogs">Resources </a>
                            <a class="badge bg-secondary text-decoration-none link-light"
                                href="/bluelook/blogs">Startups </a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded"
                                src="assets/img/news and blog/flutter_development_process.webp" alt="..." />
                        </figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">As the use of mobile apps grows, many platforms for developing various
                                sorts of applications have been offered in the market. The days of developing mobile
                                apps as native apps are long gone. Hybrid platforms may now be used to create mobile
                                applications, making the process easier and more cost-effective. Ionic, React, Phonegap,
                                <a href="/services/flutter-development">Flutter</a>, and more hybrid technologies have
                                been presented.
                            </p>
                            <p class="fs-5 mb-4">In the current era, <a href="/services/flutter-development">Flutter</a>
                                is at the top of the list for developing mobile applications. For your next <a
                                    href="/services/Mobile-App-development">mobile app development</a> project, you may
                                hire Flutter developers.
                            </p>

                            <ol>
                                <li class="fs-5 mb-2">1. Introduction of Flutter</li>
                                <li class="fs-5 mb-2">2. Why Is It Better Rather Than Other Hybrid Platforms?</li>
                                <li class="fs-5 mb-2">3. How To Set Up Flutter? </li>
                                <li class="fs-5 mb-2">4. IDE and Programming Language</li>
                                <li class="fs-5 mb-2">5. Conclusion</li>
                            </ol>
                            <h2 class="fw-bolder mb-4 mt-5">1. Introduction of Flutter</h2>
                            <p class="fs-5 mb-4">Google built and published Flutter as a free open-source mobile UI
                                framework in May 2017. <a href="/services/flutter-development">Flutter</a> is a free
                                open-source mobile UI framework built and distributed by Google.
                            </p>

                            <p class="fs-5 mb-4"><a href="/services/flutter-development">Flutter</a> SDK is a set of
                                developer tools for creating mobile applications. It provides a framework for converting
                                code into native code in order to support multiple mobile platforms such as iOS and
                                Android. The Flutter framework is made up of reusable UI components known as WIDGETS.
                                Our Flutter developers may customise those widgets to meet your needs.</p>

                            <p class="fs-5 mb-4"><a href="/services/flutter-development">Flutter Development</a> is
                                extremely beneficial for creating native mobile and web applications from a single code
                                base. The application may be released on the app store and the play store using the same
                                code, and the same code can also be used for PWA. The most significant benefit of
                                Flutter is that a single developer can work on the code and it will be supported across
                                all platforms.</p>

                            <h2 class="fw-bolder mb-4 mt-5">2. Why Is It Better Rather Than Other Hybrid Platforms?</h2>

                            <ol>
                                <li class="fs-5 mb-4">1. Flutter-based applications have the same appearance and feel in
                                    terms of UI as native apps. While apps designed with other hybrid platforms, such as
                                    React / Ionic, give the appearance of web pages on mobile phones.</li>
                                <li class="fs-5 mb-4">2. By leveraging Flutter, you can quickly access native controls
                                    like as Bluetooth, WIFI, and any background service that is only available through
                                    native applications.</li>
                                <li class="fs-5 mb-4">3. Because Flutter is a Google-introduced technology, we will
                                    receive fresh upgrades for native <a href="/services/android-development">Android
                                        app development.</a></li>

                                <li class="fs-5 mb-4">4. The most useful feature of Flutter is hot reload, which allows
                                    developers to rapidly see changes made to code on emulators, simulators, and
                                    hardware without having to re-run / rebuild the entire program.</li>
                            </ol>
                            <p class="fs-5 mb-4">As you can see there are lots of benefits of using Flutter, you are
                                exactly on the right track by choosing Flutter for <a
                                    href="/services/android-development">mobile application development.</a>
                            </p>
                            <p class="fs-5 mb-4">To become a Flutter developer and design mobile applications using
                                Flutter, you need be familiar with the following components:
                            </p>
                            <ol>
                                <li class="fs-5 mb-2">1. Install Flutter </li>
                                <li class="fs-5 mb-2">2. Flutter Basics</li>
                                <li class="fs-5 mb-2">3. DART Basics </li>
                                <li class="fs-5 mb-2">4. Widgets</li>
                                <li class="fs-5 mb-2">5. Customized Widgets </li>
                                <li class="fs-5 mb-2">6. Layouts & Navigation to design the app </li>
                                <li class="fs-5 mb-2">7. API Calls & JSON Parsing </li>
                            </ol>
                            <p class="fs-5 mb-4">Let’s begin to get the knowledge step by step to create basic Flutter
                                applications.
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">3. How To Set Up Flutter?</h2>
                            <p class="fs-5 mb-4">Flutter may be installed on your machine in a variety of ways. It also
                                relies on the operating system that you are using on your PC.
                                You may install flutter from the URL below based on your machine's operating system: <a
                                    href="https://flutter.dev/docs/get-started/install" rel="noopener nofollow"
                                    target="_blank">https://flutter.dev/docs/get-started/install</a>
                            </p>
                            <p class="fs-5 mb-4">If you have any problems or questions when installation, please leave a
                                remark or contact us. Our Flutter developers will assist you in resolving them.
                            </p>

                            <p class="fs-5 mb-4">When you finish installing, the DART package will be installed as well.
                                Flutter will automatically select the right version of DART during installation, so
                                there is no need to install it individually.
                            </p>

                            <h2 class="fw-bolder mb-4 mt-5">4. IDE and Programming Language</h2>
                            <p class="fs-5 mb-4">To develop Flutter applications, below IDEs are available:
                            </p>
                            <h3 class="fw-bolder mb-4 mt-3">• Visual Studio</h3>
                            <p class="fs-5 mb-4">This IDE was advertised as being incredibly efficient and simple to use
                                for <a href="/services/flutter-development">flutter development.</a> Most web developers
                                choose this editor since it
                                is well-known to them. Visual Studio Code includes a robust plugin system and
                                functionality. If you intend to use VS, you should install the Flutter plugin.
                            </p>
                            <h3 class="fw-bolder mb-4 mt-3">• Android Studio</h3>
                            <p class="fs-5 mb-4">It is one of the greatest IDEs for developing mobile and Flutter apps.
                                If you work as a mobile app developer, you should use this editor. To all developers, it
                                is one of Google's top user interface frameworks. With native applications, you can now
                                instantly create mobile, desktop, or browser users.
                            </p>
                            <h3 class="fw-bolder mb-4 mt-3">• IntelliJ Idea Community / IntelliJ Idea Ultimate </h3>
                            <p class="fs-5 mb-4">This IDE is seldom used to create flutter apps. However, if you are
                                already familiar with it, you may use it to begin Flutter programming.
                                Please see the following link for further information on how to set up an editor: <a
                                    href="https://flutter.dev/docs/get-started/editor" rel="noopener nofollow"
                                    target="_blank">https://flutter.dev/docs/get-started/editor</a>
                            </p>
                            <p class="fs-5 mb-4">After installing Flutter and the IDE, your system is ready to begin
                                developing for flutter apps. The next stage is to master the DART programming language.
                                If you are new to <a href="/services/Mobile-App-development">mobile app development</a>,
                                you will also need to install
                                Xcode.
                            </p>
                            <h3 class="fw-bolder mb-4 mt-3">DART</h3>
                            <figure class="mb-4"><img class="img-fluid rounded"
                                    src="assets/img/news and blog/dart_banner.webp" alt="..." />
                            </figure>
                            <p class="fs-5 mb-4">The early Flutter team evaluated over a dozen languages before settling
                                on Dart because it related to the way the user experience was built.
                                Dart is one of the main reasons why developers use Flutter. Dart is totally open source
                                and licensed under a permissive license. Dart was launched by Google in 2011 and was
                                originally intended to be a substitute for JavaScript.
                            </p>
                            <h5 class="fw-bolder mb-4 mt-3 text-muted text-center border p-3 bg-light">"We are also
                                going to
                                publish an
                                article on DART programming concepts with one small flutter app soon"</h5>
                            <p class="fs-5 mb-4">Please see the official article below to get started with DART
                                programming: <a href="https://dart.dev/guides/language/language-tour"
                                    rel="noopener nofollow"
                                    target="_blank">https://dart.dev/guides/language/language-tour</a>
                            </p>
                            <h3 class="fw-bolder mb-4 mt-3">Create the first project of Flutter</h3>
                            <ol>
                                <li class="fs-5 mb-2">1. Open the IDE and select Create New Flutter Project.</li>
                                <li class="fs-5 mb-2">2. Select Flutter Application as the project type. Then click
                                    Next.
                                </li>
                                <li class="fs-5 mb-2">3. Verify the Flutter SDK path specifies the SDK’s location
                                    (select Install SDK… if the text field is blank).</li>
                                <li class="fs-5 mb-2">4. Enter a project name (for example, myapp). Then click Next.
                                </li>
                                <li class="fs-5 mb-2">5. Click Finish.</li>
                                <li class="fs-5 mb-2">6. Wait for Android Studio to install the SDK and create the
                                    project.</li>
                            </ol>

                            <p class="fs-5 mb-4">To create a project with different IDEs, please refer to below link: <a
                                    href="https://flutter.dev/docs/get-started/test-drive" rel="noopener nofollow"
                                    target="_blank">https://flutter.dev/docs/get-started/test-drive</a>
                            </p>
                            <h2 class="fw-bolder mb-4 mt-5">5. Conclusion</h2>
                            <p class="fs-5 mb-4"><a href="/services/flutter-development">Flutter app development</a>
                                enables organizations to produce native-like apps on a reduced budget and concurrently
                                deploy them on both the Android and iOS operating systems. DOIT Software has chosen
                                Flutter as its major technology. As a <a href="/services/flutter-development">Flutter
                                    app development company</a>, we are here to assist you in achieving your business
                                objectives and developing the finest app for your needs.
                            </p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div>
                            <div class="card-body">
                                <div class="d-flex mb-4 bd-highlight">
                                    <!-- Parent comment-->
                                    <div class="flex-shrink-0 bd-highlight"><img class="rounded-circle"
                                            src="assets/img/Others/sathya.webp" alt="..." /></div>
                                    <div class="ms-3 bd-highlight">
                                        <div class="fw-bold">SATHYA R</div>
                                        Author
                                    </div>

                                    <div class="ms-3 ms-auto bd-highlight">
                                        <div class="fw-bold text-primary">Post Views : 00</div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="border mb-4">
                        <div class="card-header fw-bold">Subscribe Bluelook</div>
                        <div class="card-body">
                            <div class="text-center">
                                <input class="form-control mt-3" type="text" placeholder="Name"
                                    aria-label="Enter search term..." aria-describedby="button-search" />
                                <input class="form-control mt-3" type="text" placeholder="Email Address"
                                    aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary ps-5 pe-5 mt-3" type="button">Subscribe</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="border mb-4 fw-bold">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/bluelook/blogs">Technology</a></li>
                                        <li><a href="/bluelook/blogs">Bluelook</a></li>
                                        <li><a href="/bluelook/blogs">Resources</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="/bluelook/blogs">Design</a></li>
                                        <li><a href="/bluelook/blogs">Ecommerce</a></li>
                                        <li><a href="/bluelook/blogs">Startups</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="border mb-4 ">
                        <div class="card-header fw-bold">Recent Insights</div>
                        <div class="card-body">
                            <p class="fs-6 mb-4"><a href="/bluelook/blogs/android_development_process">1. Beginners
                                    Android App Development Process
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Section>


    <!-- Our Works -->
    <section>
        <div class="container mb-5">
            <h5 class="secation-head text-uppercase text-center  w-50 m-auto width-100" data-aos="fade-up"
                data-aos-duration="2000">
                Related Blogs
            </h5>
            <div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
                <div class="col" data-aos="fade-up" data-aos-duration="2000">
                    <div class="card h-100">
                        <img src="assets/img/news and blog/android_1.webp" class="card-img-top"
                            alt="android-development">
                        <div class="card-body">
                            <a href="/bluelook/blogs/android_development_process">
                                <h5 class="card-title">Beginners Android App Development Process</h5>
                            </a>
                            <small class="text-muted">Android, Technology</small>
                            <p class="card-text"> The best features that come with apps are what pique consumers'
                                curiosity. Apps make
                                phones "today smart," and their benefits have dramatically altered how we work today.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col" data-aos="fade-up" data-aos-duration="2000">
                    <div class="card h-100">
                        <img src="assets/img/news and blog/chatbot.webp" class="card-img-top" alt="Chatbot">
                        <div class="card-body">
                            <a>
                                <h5 class="card-title">Chatbot development Process</h5>
                            </a>
                            <small class="text-muted">Chatbot, Technology</small>
                            <p class="card-text">A chatbot is a computer programme that mimics human conversation by
                                using voice
                                commands, text chats, or both. A chatbot is an artificial intelligence (AI) programme
                                that can simulate
                                a natural language </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Our Works End -->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark footer-bg">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row row-cols-1 row-cols-md-4  m-auto">
                    <!-- Grid column -->
                    <div class="col">
                        <h6 class="text-uppercase mb-4 font-weight-bold">COMPANY</h6>
                        <p>
                            <a href="/bluelook/about" class="footer-hover second-color">About</a>
                        </p>
                        <p>
                            <a href="/bluelook/testimonial" class="footer-hover second-color">Testimonial</a>
                        </p>
                        <p>
                            <a href="/bluelook/process" class="footer-hover second-color">Process</a>
                        </p>
                        <p>
                            <a href="/bluelook/life-at-bluelook" class="footer-hover second-color">Life @ Bluelook</a>
                        </p>
                        <p>
                            <a href="/bluelook/careers" class="footer-hover second-color">Careers</a>
                        </p>
                        <p>
                            <a href="/bluelook/engagement-model" class="footer-hover second-color">Engagement Model</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col">
                        <h6 class="text-uppercase mb-4 font-weight-bold">SERVICES</h6>
                        <p>
                            <a href="/services/Mobile-App-development" class="footer-hover second-color">Mobile App
                                Development</a>
                        </p>
                        <p>
                            <a href="/services/web-development" class="footer-hover second-color">Web Development</a>
                        </p>
                        <p>
                            <a href="/services/ui-development" class="footer-hover second-color">User Experience
                                Design</a>
                        </p>
                        <p>
                            <a href="/services/iot-development" class="footer-hover second-color">IOT Development</a>
                        </p>
                        <p>
                            <a href="/services/chatbot-development" class="footer-hover second-color">Chatbot
                                Development</a>
                        </p>
                        <p>
                            <a href="/services/staff-augmentation" class="footer-hover second-color">Staff
                                Augmentation</a>
                        </p>
                        <p>
                            <a href="/services/digital-transformation" class="footer-hover second-color">Digital
                                Transformation</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col">
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            RESOURCE
                        </h6>
                        <p>
                            <a href="/bluelook/blogs" class="footer-hover second-color">Blog</a>
                        </p>
                        <p>
                            <a href="/bluelook/our-products" class="footer-hover second-color">Our Products</a>
                        </p>
                        <p>
                            <a href="/technologies" class="footer-hover second-color">Technologies</a>
                        </p>
                        <h6 class="text-uppercase mb-4 font-weight-bold">
                            SUPPORT
                        </h6>
                        <p>
                            <a class="footer-hover second-color">24/7 Customer Service</a>
                        </p>
                    </div>

                    <!-- Grid column -->
                    <hr class="w-100 clearfix d-md-none" />

                    <!-- Grid column -->
                    <div class="col">

                        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

                        <a class="navbar-brand" href="/"><img src="assets/img/logo/bluelook_logo_for_web.png"
                                alt="Bluelook" /></a>

                        <p class="second-color mt-4">Location: <span class="text-primary fs-6">Bangalore, India</span>
                        </p>
                        <p class="second-color mt-2">Business: <span
                                class="text-primary fs-6">hello@bluelooktech.com</span></p>
                        <p class="second-color"> Job Mail: <span class="text-primary"> hr@bluelooktech.com</span></p>

                        <a href="https://join.skype.com/invite/veiT43OOhP9V">
                            <p class="second-color"> Skype: <span class="text-primary"> sathya@bluelook</span></p>
                        </a>

                        <p class="second-color mt-2"><img class="flofs me-2" src="assets/img/icons/India.webp"
                                alt="Bluelook" />India - +91 9952491705</p>
                                <p class="second-color mt-2"><img class="flofs me-2" src="assets/img/icons/India.webp"
                                    alt="Bluelook" />India - +91 9597444726</p>

                    </div>
                    <!-- Grid column -->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->

            <hr class="my-3">

            <!-- Section: Copyright -->
            <section class="p-3 pt-0">
                <div class="row d-flex align-items-center">
                    <!-- Grid column -->
                    <div class="col-md-7 col-lg-8 text-center text-md-start">
                        <!-- Copyright -->
                        <div class="p-3">
                            © 2022 Copyright: Bluelook Technologies Pvt Ltd
                        </div>
                        <!-- Copyright -->
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                        <a href="https://www.facebook.com/bluelooktech.2018/"
                            class="btn btn-outline-dark btn-floating m-1" class="text-secondary" role="button"><i
                                class="fa fa-facebook" aria-hidden="true"></i></a>

                        <a href="https://www.instagram.com/bluelooktech_bangalore/"
                            class="btn btn-outline-dark btn-floating m-1" class="text-secondary" role="button"><i
                                class="fa fa-instagram" aria-hidden="true"></i></a>

                        <a href="https://twitter.com/bluelook_tech" class="btn btn-outline-dark btn-floating m-1"
                            class="text-secondary" role="button"><i class="fa fa-twitter" aria-hidden="true"></i></a>

                        <a href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
                            class="btn btn-outline-dark btn-floating m-1" class="text-secondary" role="button"><i
                                class="fa fa-linkedin" aria-hidden="true"></i></a>

                        <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
                            class="btn btn-outline-dark btn-floating m-1" class="text-secondary" role="button"><i
                                class="fa fa-youtube-play" aria-hidden="true"></i></a>
                    </div>
                    <!-- Grid column -->
                </div>
            </section>
            <!-- Section: Copyright -->
        </div>
        <!-- Grid container -->
    </footer>
    <!-- Footer End-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.slim.js"
        integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script>
        AOS.init();
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {},
            Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"),
                s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/60af645c6699c7280da93052/1f6mi039t';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
</body>

</html>