<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Robotic Process Automation Development Company Bangalore | Bluelook |
      India
    </title>
    <meta
      name="description"
      content="As a leading Robotic Process Automation Company in Bangalore, India, we provide cost-effective and customised RPA solutions to help your organisation operate better."
    />
    <meta
      name="keywords"
      content="Bluelooktech,Bluelook, SEO Company in Bangalore, SEO Expert, Professional SEO Services, SEO services, search engine optimization, SEO Services in Bangalore, Best SEO Company in Bangalore, SEO Agency in Bangalore, Top SEO Company in Bangalore"
    />
    <link
      rel="shortcut icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      rel="apple-touch-icon-precomposed"
      type="image/png"
      href="assets/img/logo/icon_bulelook.png"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/font/font.css" />
    <link rel="stylesheet" type="text/css" href="assets/vendor/aos/aos.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-210344120-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-210344120-1");
    </script>
  </head>

  <body>
    <!-- header start -->

    <nav
      class="navbar navbar-expand-lg navbar-light bg-white shadow sticky-top"
    >
      <div class="container-fluid bd-highlight mb-3">
        <a class="navbar-brand me-auto p-2 bd-highlight" href="/"
          ><img src="assets/img/logo/bluelook_logo_for_web.png" alt="Bluelook"
        /></a>

        <button
          class="navbar-toggler p-2 bd-highlight"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mt-2 mb-lg-0">
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Company
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/bluelook/about">About</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/process">Process</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/testimonial"
                    >Testimonials</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/life-at-bluelook"
                    >Life @ Bluelook</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/careers">Careers</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/bluelook/engagement-model"
                    >Engagement Model</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/services"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Services
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Product Development</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/saas-application-development"
                            class="dropdown-item"
                            >SaaSCommerce</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/serverless-development"
                            class="dropdown-item"
                            >Serverless Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/MVP-development"
                            class="dropdown-item"
                            >MVP Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/eCommerce-development"
                            class="dropdown-item"
                            >eDevelopment</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">Mobile Apps</h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/flutter-development"
                            class="dropdown-item"
                            >Flutter</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Intelligent Automation
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/services/ai-development"
                            class="dropdown-item"
                            >AI</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IOT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/rpa-development"
                            class="dropdown-item"
                            >RPA</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/chatbot-development"
                            class="dropdown-item"
                            >Chatbot Development</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <ul class="list-unstyled">
                        <li>
                          <a
                            class="dropdown-item"
                            href="/services/Mobile-App-development"
                            >Mobile App Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/web-development"
                            class="dropdown-item"
                            >Web Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/iot-development"
                            class="dropdown-item"
                            >IoT Development</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/ui-development"
                            class="dropdown-item"
                            >User Experience Design</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-marketing"
                            class="dropdown-item"
                            >Digital Marketing</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/staff-augmentation"
                            class="dropdown-item"
                            >Staff Augmentation</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/devops-consulting-service"
                            class="dropdown-item"
                            >DevOps Consulting Services</a
                          >
                        </li>
                        <li>
                          <a
                            href="/services/digital-transformation"
                            class="dropdown-item"
                            >Digital Transformation</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown has-megamenu">
              <a
                class="nav-link dropdown-toggle"
                href="/technologies"
                id="navbarDropdown"
                data-bs-toggle="dropdown"
              >
                Hire Developers
              </a>
              <div class="dropdown-menu megamenu" role="menu">
                <div class="row g-3 p-3">
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Backend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/laravel-development"
                            class="dropdown-item"
                            >Laravel PHP</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/nodeJS-development"
                            class="dropdown-item"
                            >Node js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/java-spring-foot-development"
                            class="dropdown-item"
                            >Java spring boot</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/asb-development"
                            class="dropdown-item"
                            >ASP.NET</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        Frontend Technologies
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a
                            href="/technologies/angular-development"
                            class="dropdown-item"
                            >Angular.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/vue-development"
                            class="dropdown-item"
                            >Vue.js</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/ios-development"
                            class="dropdown-item"
                            >IOS</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/android-development"
                            class="dropdown-item"
                            >Android</a
                          >
                        </li>
                        <li>
                          <a
                            href="/technologies/react-native-development"
                            class="dropdown-item"
                            >React Native</a
                          >
                        </li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <h6 class="title ps-3 color-main">
                        UI/UX Designing Tools
                      </h6>
                      <ul class="list-unstyled">
                        <li>
                          <a class="dropdown-item">Adobe Photoshop</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe Illustrator</a>
                        </li>
                        <li>
                          <a class="dropdown-item">Adobe XD</a>
                        </li>
                        <li><a class="dropdown-item">Figma</a></li>
                      </ul>
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <div class="col-lg-3 col-12">
                    <div class="col-megamenu">
                      <img
                        class="nav-img"
                        src="assets/img/tech.webp"
                        alt="Tech"
                      />
                    </div>
                    <!-- col-megamenu.// -->
                  </div>
                  <!-- end col-3 -->
                </div>
                <!-- end row -->
              </div>
              <!-- dropdown-mega-menu.// -->
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="/"
                id="navbarDropdown"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Industries
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a
                    class="dropdown-item"
                    href="/bluelook/industries/health-care"
                    >Health Care</a
                  >
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/our-products"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Our Products</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                href="/bluelook/blogs"
                id="navbarDropdown"
                tabindex="-1"
                aria-disabled="true"
              >
                Blogs</a
              >
            </li>
          </ul>
          <div class="flot-end">
            <a href="https://twitter.com/bluelook_tech"
              ><i class="fa fa-twitter pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.instagram.com/bluelooktech_bangalore/"
              ><i class="fa fa-instagram pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.facebook.com/bluelooktech.2018/"
              ><i class="fa fa-facebook pe-3 nav-icon" aria-hidden="true"></i
            ></a>
            <a href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
              ><i
                class="fa fa-youtube-play pe-3 nav-icon"
                aria-hidden="true"
              ></i
            ></a>
            <a
              href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
              ><i class="fa fa-linkedin pe-3 nav-icon" aria-hidden="true"></i
            ></a>
          </div>
        </div>
        <form class="d-flex p-2 bd-highlight">
          <button class="btn btn btn-primary me-2" type="button">
            <a href="#contact" class="text-white">Contact</a>
          </button>
        </form>
      </div>
    </nav>
    <!-- header end -->

    <!-- Hero Banner Section -->
    <section class="hero-banner bg-primary py-5">
      <div class="container">
        <div class="row row align-items-center">
          <div class="col-lg-5 offset-lg-1 order-lg-1">
            <img
              src="assets/img/banner/AI.webp"
              class="img-fluid"
              data-aos="fade-up"
              data-aos-duration="8000"
              alt="AI Development"
              title="Artificial Intelligence Development Company in Bangalore"
            />
          </div>
          <div class="col-lg-6">
            <h1 class="mt-3 text-white">
              Bangalore's Best Robotic Process Automation Company
            </h1>
            <p class="lead text-secondary my-5 text-white">
              Many industries, including banking, insurance, healthcare,
              logistics and transportation, accounting, and finance, are now
              utilizing RPA services to reduce repetitive tasks, manpower, and
              time.
            </p>
            <a
              href="#contact"
              class="btn btn-outline-secondary btn-lg border text-white"
              >Join with Us</a
            >
          </div>
        </div>
      </div>
    </section>
    <!-- Hero Banner Section End -->

    <!-- RPA -->
    <section>
      <div class="container mt-5">
        <h5
          class="secation-head text-uppercase text-center mt-5 w-50 m-auto width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          RPA SOLUTIONS TAILORED TO YOUR SPECIFIC NEEDS TO AUTOMATE REPETITIVE
          TASKS AND IMPROVE BUSINESS PERFORMANCE
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          Many industries, including banking, insurance, healthcare, logistics
          and transportation, accounting, and finance, are now utilising RPA
          services to reduce repetitive tasks, manpower, and time. As a leading
          Robotic Process Automation Company in Bangalore, we provide clients
          all over the world with custom-made RPA solutions in all industries.
          Our highly skilled professionals create software bots to automate your
          business operations and reduce time-consuming tasks.
        </p>
        <p class="text-center mt-2" data-aos="fade-up" data-aos-duration="2000">
          For optimising your company operations, we examine and evaluate your
          business objectives, IT infrastructure, repetitive tasks, and so on.
          As a leading Robotic Process Automation Company in Bangalore, we
          employ cutting-edge technology to provide RPA solutions that are both
          accurate and efficient. With years of expertise, we have perfected the
          delivery of RPA solutions to startups and medium-sized enterprises
          throughout the world. Contact us now to learn more about how we can
          help you automate your business operations with bespoke RPA solutions!
        </p>
        <h5
          class="secation-head text-uppercase text-center mt-5 w-50 m-auto"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          OUR RPA SERVICES
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We provide customized RPA solutions as a leading Robotic Process
          Automation Company in Bangalore by evaluating your company objectives
          and goals.
        </p>
        <div class="row row-cols-1 row-cols-md-2 g-4">
          <div class="col">
            <div class="card h-100 text-white bg-primary">
              <div class="card-body">
                <h5 class="card-title">Data Processing Automation</h5>
                <p class="card-text">
                  Data processing automation include data retrieval and
                  authentication, statement restoration, data cleansing and
                  digitalization, and so forth. All of these duties require a
                  significant amount of time and effort. AI-powered RPA will aid
                  in the efficient and accurate automation of various
                  operations. RPA makes it simple to automate information
                  extraction from printed documents.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-white bg-danger">
              <div class="card-body">
                <h5 class="card-title">Bank Process Automation</h5>
                <p class="card-text">
                  We provide Robotic Process Automation services in the Banking,
                  Finance, and Insurance sectors to automate all banking
                  activities, increase capacity, and allow staff to focus on
                  their most important duties. RPA helps to simplify your
                  business operations, reduce human mistakes, and provide a
                  better customer experience.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-white bg-success">
              <div class="card-body">
                <h5 class="card-title">ERP Automation</h5>
                <p class="card-text">
                  As a leading Robotic Process Automation Company in Bangalore,
                  we provide effective ERP automation services to help your
                  company succeed. This allows your staff and supervisors to
                  focus on high-priority activities while machines handle the
                  mundane. Robotic Process Automation will be beneficial in
                  areas such as HR, Supply Chain, Finance, CRM, and Procurement,
                  among others.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 text-white bg-warning">
              <div class="card-body">
                <h5 class="card-title">Customer Service Automation</h5>
                <p class="card-text">
                  Because happy customers are the cornerstone to every
                  business's success, we provide Customer service automation
                  services that allow you to automate repetitive activities in
                  customer service. Here, your executives may focus on other
                  activities rather than doing repetitive chores like as
                  customer support, service registration, manual feedback
                  processing, and so on.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- RPA End -->

    <!-- RPA Services -->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center mt-5 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          WHY CHOOSE BLUELLOK TECHNOLOGY FOR RPA SERVICES?
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          As a leading Robotic Process Automation Company in Bangalore, we have
          helped numerous startups and businesses automate their business
          operations using custom RPA solutions.
        </p>
        <div class="row row-cols-1 row-cols-md-4 g-4 text-center mt-5">
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/application-settings.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Competence</h6>
                <p class="card-text mt-5">
                  We have a highly skilled staff with strong technological
                  knowledge to provide ideal RPA solutions for all of your
                  company needs.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/donation.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Commitment</h6>
                <p class="card-text mt-5">
                  Our trained and committed staff works tirelessly to ensure
                  that our clients' projects are delivered error-free and on
                  schedule.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/devops.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Collaboration</h6>
                <p class="card-text mt-5">
                  To ensure outstanding services and long-term partnerships, our
                  staff constantly maintains openness and collaborates with
                  clients.
                </p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100">
              <img
                src="assets/img/icons/staff employee.webp"
                class="float-start card-icon m-auto mt-5"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-uppercase">Client Satisfaction</h6>
                <p class="card-text mt-5">
                  We take full responsibility for providing flawless and
                  cost-effective RPA solutions that keep you ahead of the
                  competition.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- RPA Services End -->

    <!-- Quations-->
    <section>
      <div class="container wrapper mt-5">
        <div class="h5 text-center fw-bold">Frequently Asked Qustions</div>
        <div class="h6 text-center mt-3 mb-5">How can we help you?</div>
        <div
          class="accordion accordion-flush border-top border-start border-end"
          id="myAccordion"
        >
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                What are the advantages of robotic process automation (RPA)?
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  RPA's key advantages include cost-effectiveness, increased
                  productivity, increased customer happiness, higher quality,
                  and compliance. We provide accurate and high-quality RPA
                  services to our clients globally as the top Robotic Process
                  Automation Company in Bangalore.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                What are the RPA dangers to be aware of?
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Anyone can steal or manipulate confidential information where
                  an RPA system is in use since RPA is not completely safe. The
                  primary RPA security threats are the disclosure of necessary
                  information, security hazards in a company's network, and
                  denial-of-service attacks.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                What are the most recent RPA tools that you use?
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  We use the newest tools such as UiPath, blueprism, PEGA,
                  softomotive, KAPOW, Automation Anywhere, WorkFusion, and
                  others as a leading Robotic Process Automation Company in
                  Bangalore, India.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFour"
                aria-expanded="false"
                aria-controls="flush-collapseFour"
              >
                Will you assist us in automating invoicing by extracting data
                from PDF files?
              </button>
            </h2>
            <div
              id="flush-collapseFour"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  We employ OCR technology with AI and Machine Learning
                  capabilities as a top Robotic Process Automation Company in
                  Bangalore to extract information from PDFs, build files, and
                  send them to customers.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseFive"
                aria-expanded="false"
                aria-controls="flush-collapseFive"
              >
                Will a single robot be capable of performing many tasks?
              </button>
            </h2>
            <div
              id="flush-collapseFive"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  Yes. It is feasible to use the same robot software to perform
                  many tasks. However, we propose that you employ a single robot
                  for a single activity at a time.
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed border-0"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseSix"
                aria-expanded="false"
                aria-controls="flush-collapseSix"
              >
                What causes RPA projects to fail from time to time?
              </button>
            </h2>
            <div
              id="flush-collapseSix"
              class="accordion-collapse collapse border-0"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#myAccordion"
            >
              <div class="accordion-body p-0">
                <p class="m-3">
                  RPA projects are most likely to fail under one of two
                  scenarios. It depends on whether the RPA solution is utilised
                  in a more dynamic setting or if the business process on which
                  RPA is deployed is not robotic as envisaged.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Quations End -->

    <!-- News Section -->
    <section>
      <div class="container mb-5">
        <h5
          class="secation-head text-uppercase text-center mt-5"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          BLUELOOK INSIGHTS / NEWS
        </h5>
        <p class="text-center mt-3" data-aos="fade-up" data-aos-duration="2000">
          We are continually researching current trends and technology and are
          eager to share our findings. Keep up with the newest news and
          inspiring tales that provide ultimate solutions for your organisation
        </p>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/womens.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">Bluelook Women's Day Celebration</h5>
                <small class="text-muted">Bluelook</small>
                <p class="card-text">
                  Today is International Women's Day, a day that celebrates
                  women's contributions and achievements in a variety of fields.
                  Bluelook commemorates this special day dedicated to women.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/android_1.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">
                  Beginners Android App Development Process
                </h5>
                <small class="text-muted">Bluelook,Technology</small>
                <p class="card-text">
                  The most appealing features of apps are what pique users'
                  interest. Apps make phones "today smart," and their benefits
                  have drastically altered how we live our lives.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
          <div class="col cards-hover">
            <div class="card h-100" data-aos="fade-up" data-aos-duration="2000">
              <img
                src="assets/img/news and blog/flutter.webp"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h5 class="card-title">A Beginners Flutter AppDevelopment</h5>
                <small class="text-muted">Bluelook, Technology</small>
                <p class="card-text">
                  As the use of mobile apps grows, various platforms for
                  developing various types of applications have been introduced
                  in the market. The days of developing mobile apps as native
                  apps are long gone.
                </p>
                <div class="text-center card-footer bg-white">
                  <a class="btn btn-primary">Read More</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- News Section End -->

    <!-- Awards Section-->
    <section>
      <div class="container">
        <h5
          class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100"
          data-aos="fade-up"
          data-aos-duration="2000"
        >
          OUR SUCCESSFUL AWARDS
        </h5>
        <div class="row g-0 mt-3" data-aos="fade-up" data-aos-duration="2000">
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="first bg-white p-4 text-center">
                <img
                  alt="goodfirms"
                  src="assets/img/icons/goodfirms_1.png.webp"
                />
                <h5>GoodFirms</h5>
                <p class="line1">
                  Top Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 border-right">
            <div class="cards">
              <div class="second bg-white p-4 text-center">
                <img alt="top rated" src="assets/img/icons/top rated.webp" />
                <h5>Softwareworld</h5>
                <p class="line2">
                  World’s Top 50+ Mobile App Development Companies in 2021
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="top adroid" src="assets/img/icons/top adroid.webp" />
                <h5>Appfutura</h5>
                <p class="line3">Top Android App Development company</p>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="cards">
              <div class="third bg-white p-4 text-center">
                <img alt="cluth" src="assets/img/icons/cluth.webp" />
                <h5>Clutch</h5>
                <p class="line3">Top App developing company</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Awards Section End-->

    <!-- Contact -->
    <div class="mt-3 mb-5" id="contact">
      <h5
        class="secation-head text-uppercase text-center m-auto mt-5 w-50 width-100 clsaa-uderline"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        GET IN TOUCH
      </h5>
      <div class="row mt-5">
        <div class="col-md-6" style="background-color: #1656b4">
          <div class="container">
            <h5
              class="secation-head text-uppercase text-center text-white m-auto mt-5 w-50 width-100"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              OUR SUCCESSFUL AWARDS
            </h5>
            <div
              class="row g-0 mt-3"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="first p-4 text-center">
                    <img
                      alt="goodfirms"
                      src="assets/img/icons/goodfirms_1.png.webp"
                    />
                    <h5>GoodFirms</h5>
                    <p class="line1">
                      Top Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="second p-4 text-center">
                    <img
                      alt="top rated"
                      src="assets/img/icons/top rated.webp"
                    />
                    <h5>Softwareworld</h5>
                    <p class="line2">
                      World’s Top 50+ Mobile App Development Companies in 2021
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="row g-0 mb-5"
              data-aos="fade-up"
              data-aos-duration="2000"
            >
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img
                      alt="top adroid"
                      src="assets/img/icons/top adroid.webp"
                    />
                    <h5>Appfutura</h5>
                    <p class="line3">Top Android App Development company</p>
                  </div>
                </div>
              </div>
              <div class="col bg-white m-1">
                <div class="">
                  <div class="third p-4 text-center">
                    <img alt="cluth" src="assets/img/icons/cluth.webp" />
                    <h5>Clutch</h5>
                    <p class="line3">Top App developing company</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="container mt-4">
            <!-- <h3>Interact with We!</h3> -->
            <form
              class="row g-3"
              action="/sendMail"
              method="POST"
              enctype="multipart/form-data"
            >
              <div class="col-md-6">
                <label for="yourName " class="fw-bolder fs-6 mb-1"
                  >Enter Your Name</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="yourName"
                  name="name"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="phoneNumber" class="fw-bolder fs-6 mb-1"
                  >Phone Number(Optional)</label
                >
                <input
                  type="text"
                  class="form-control"
                  name="phone"
                  id="phoneNumber"
                />
              </div>
              <!-- <div class="col-md-6">
                      <label for="lastName" class="form-label">Enter Your Email</label>
                      <input type="text" class="form-control" id="lastName" required>
                    </div> -->
              <div class="col-md-6">
                <label for="emailInfo" class="fw-bolder fs-6 mb-1"
                  >E-mail</label
                >
                <input
                  type="email"
                  name="email"
                  class="form-control"
                  id="emailInfo"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="services" class="fw-bolder fs-6 mb-1"
                  >Services</label
                >
                <select
                  name="services"
                  name="services"
                  class="form-control"
                  id="services"
                >
                  <option value="volvo">Select Service</option>
                  <option value="Website Development">
                    Website Development
                  </option>
                  <option value="UI/UX Design ">UI/UX Design</option>
                  <option value="IOS App Development">
                    IOS App Development
                  </option>
                  <option value="Android App Development">
                    Android App Development
                  </option>
                  <option value="Ecommerce App Development">
                    Ecommerce App Development
                  </option>
                  <option value="Web design">Web design</option>
                  <option value="SEO">SEO</option>
                  <option value="Digital Marketing">Digital Marketing</option>
                  <option value="Others">Others</option>
                </select>
              </div>

              <div class="col-md-12">
                <label for="subjectTitle" class="fw-bolder fs-6 mb-1"
                  >Subject</label
                >
                <input
                  type="text"
                  name="subject"
                  class="form-control"
                  id="subjectTitle"
                  required
                />
              </div>
              <div class="col-md-12">
                <label for="comments" class="fw-bolder fs-6 mb-1"
                  >Write Message</label
                >
                <textarea
                  class="form-control"
                  name="body"
                  id="comments"
                  rows="3"
                  required
                ></textarea>
              </div>
              <div class="col-md-6">
                <label for="myfile" class="fw-bolder fs-6 mb-1"
                  >Attach a file (Optional)</label
                >
                <input
                  type="file"
                  name="files"
                  id="myfile"
                  name="myfile"
                  class="form-control"
                /><br /><br />
              </div>

              <div class="col-md-6 mt-5">
                <button type="submit" class="btn btn-primary">
                  Send Message
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End-->

    <!-- Footer -->
    <footer class="text-center text-lg-start text-dark footer-bg">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row row-cols-1 row-cols-md-4 m-auto">
            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">COMPANY</h6>
              <p>
                <a href="/bluelook/about" class="footer-hover second-color"
                  >About</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/testimonial"
                  class="footer-hover second-color"
                  >Testimonial</a
                >
              </p>
              <p>
                <a href="/bluelook/process" class="footer-hover second-color"
                  >Process</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/life-at-bluelook"
                  class="footer-hover second-color"
                  >Life @ Bluelook</a
                >
              </p>
              <p>
                <a href="/bluelook/careers" class="footer-hover second-color"
                  >Careers</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/engagement-model"
                  class="footer-hover second-color"
                  >Engagement Model</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">SERVICES</h6>
              <p>
                <a
                  href="/services/Mobile-App-development"
                  class="footer-hover second-color"
                  >Mobile App Development</a
                >
              </p>
              <p>
                <a
                  href="/services/web-development"
                  class="footer-hover second-color"
                  >Web Development</a
                >
              </p>
              <p>
                <a
                  href="/services/ui-development"
                  class="footer-hover second-color"
                  >User Experience Design</a
                >
              </p>
              <p>
                <a
                  href="/services/iot-development"
                  class="footer-hover second-color"
                  >IOT Development</a
                >
              </p>
              <p>
                <a
                  href="/services/chatbot-development"
                  class="footer-hover second-color"
                  >Chatbot Development</a
                >
              </p>
              <p>
                <a
                  href="/services/staff-augmentation"
                  class="footer-hover second-color"
                  >Staff Augmentation</a
                >
              </p>
              <p>
                <a
                  href="/services/digital-transformation"
                  class="footer-hover second-color"
                  >Digital Transformation</a
                >
              </p>
            </div>
            <!-- Grid column -->

            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">RESOURCE</h6>
              <p>
                <a href="/bluelook/blogs" class="footer-hover second-color"
                  >Blog</a
                >
              </p>
              <p>
                <a
                  href="/bluelook/our-products"
                  class="footer-hover second-color"
                  >Our Products</a
                >
              </p>
              <p>
                <a href="/technologies" class="footer-hover second-color"
                  >Technologies</a
                >
              </p>
              <h6 class="text-uppercase mb-4 font-weight-bold">SUPPORT</h6>
              <p>
                <a class="footer-hover second-color">24/7 Customer Service</a>
              </p>
            </div>

            <!-- Grid column -->
            <hr class="w-100 clearfix d-md-none" />

            <!-- Grid column -->
            <div class="col">
              <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>

              <a class="navbar-brand" href="/"
                ><img
                  src="assets/img/logo/bluelook_logo_for_web.png"
                  alt="Bluelook"
              /></a>

              <p class="second-color mt-4">
                Location:
                <span class="text-primary fs-6">Bangalore, India</span>
              </p>
              <p class="second-color mt-2">
                Business:
                <span class="text-primary fs-6">hello@bluelooktech.com</span>
              </p>
              <p class="second-color">
                Job Mail: <span class="text-primary"> hr@bluelooktech.com</span>
              </p>

              <a href="https://join.skype.com/invite/veiT43OOhP9V">
                <p class="second-color">
                  Skype: <span class="text-primary"> sathya@bluelook</span>
                </p>
              </a>

              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9952491705
              </p>
              <p class="second-color mt-2">
                <img
                  class="flofs me-2"
                  src="assets/img/icons/India.webp"
                  alt="Bluelook"
                />India - +91 9597444726
              </p>
            </div>
            <!-- Grid column -->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-3" />

        <!-- Section: Copyright -->
        <section class="p-3 pt-0">
          <div class="row d-flex align-items-center">
            <!-- Grid column -->
            <div class="col-md-7 col-lg-8 text-center text-md-start">
              <!-- Copyright -->
              <div class="p-3">
                © 2022 Copyright: Bluelook Technologies Pvt Ltd
              </div>
              <!-- Copyright -->
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
              <a
                href="https://www.facebook.com/bluelooktech.2018/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-facebook" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.instagram.com/bluelooktech_bangalore/"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-instagram" aria-hidden="true"></i
              ></a>

              <a
                href="https://twitter.com/bluelook_tech"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-twitter" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.linkedin.com/company/bluelook-technologies-pvt-ltd"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-linkedin" aria-hidden="true"></i
              ></a>

              <a
                href="https://www.youtube.com/channel/UCPeTer4AwPjc7R1Wyh-mrbw"
                class="btn btn-outline-dark btn-floating m-1"
                class="text-secondary"
                role="button"
                ><i class="fa fa-youtube-play" aria-hidden="true"></i
              ></a>
            </div>
            <!-- Grid column -->
          </div>
        </section>
        <!-- Section: Copyright -->
      </div>
      <!-- Grid container -->
    </footer>
    <!-- Footer End-->

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.js"
      integrity="sha256-HwWONEZrpuoh951cQD1ov2HUK5zA5DwJ1DNUXaM6FsY="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    <script src="assets/vendor/aos/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
      var Tawk_API = Tawk_API || {},
        Tawk_LoadStart = new Date();
      (function () {
        var s1 = document.createElement("script"),
          s0 = document.getElementsByTagName("script")[0];
        s1.async = true;
        s1.src = "https://embed.tawk.to/60af645c6699c7280da93052/1f6mi039t";
        s1.charset = "UTF-8";
        s1.setAttribute("crossorigin", "*");
        s0.parentNode.insertBefore(s1, s0);
      })();
    </script>
    <!--End of Tawk.to Script-->
  </body>
</html>
